
<br />

<div class="booyah-box col-10 offset-1">
<h1>Team</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag "Rebecca.jpg", class:"team" %>
      <h2>Meditation Leader</h2>
      <%= image_tag "Fe.png", class:"team"%>
      <h2>Unconditional Lover</h2>
      <%= image_tag "Teddy1.png", class:"team" %>
      <h2>Quality Control</h2>
  </div>
    <div class="col">
      <%= image_tag "kyle.jpg", class:"team" %>
      <h2>Community Outreach</h2>
      <%= image_tag "david.jpg", class:"team" %>
      <h2>Maintenance</h2>
      <%= image_tag "Alli.jpg", class:"team" %>
      <h2>Youth Development</h2>
  
    </div>
  </div>
</div>